*,

body{
	color: black;
	background: white;
}

.scores-link{
	color: purple;
}

.scores-link :hover{
	color: orangered;
}

#quiz-box{
	display: flex;
	justify-content: center;
}

/* style buttons with purple and border radius */
/* center quiz */
/*  */



